/** Custom properties **/
:root {
    --colorPrimario: #505050;
    --colorSecundario: #fe4918;
    --colorPrimarioOscuro: #353535;
    --fuentePrimaria: 'Arial', Helvetica, sans-serif;
    --fuenteSecundaria: 'Poppins', sans-serif;
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background-color: var(--colorPrimario);
    font-family: var(--fuentePrimaria);
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}
.contenedor-barra {
    background-color: var(--colorPrimarioOscuro);
}

.bg-formulario {
    background-color: var(--colorSecundario);
}
.bg-tabla-contactos {
    background-color: white;
}
.barra {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}
.sombra {
    -webkit-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.71);
    box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.71);
}
h1, h2 {
    font-family: var(--fuenteSecundaria);
    text-align: center;
    margin: 0;
}
h1 {
    padding: 20px;
    color: white;
}
h2 {
    font-size: 2rem;
    color: var(--colorPrimario);
}

/** Formulario **/
form {
    padding: 3rem;
    margin-top: 2rem;
}
form legend {
    font-family: var(--fuenteSecundaria);
    font-size: 2rem;
    text-align: center;
    display: inline;
}
legend span {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    clear: both;
    display: block;
}
@media (min-width:768px) {
    .campos {
        display: flex;
        justify-content: space-between;
    }
    
    .campo {
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.campo {
    padding: .5rem 0;
}
.campo label {
    font-size: 1.2rem;
}
.campo input[type="text"],
.campo input[type="tel"] {
    width: 100%;
    border: none;
    padding: .5rem;
    height: 3rem;
    margin-top: .5rem;
    font-size: 1.2rem;
}
.enviar {
    display: flex;
    justify-content: flex-end;
}
.campo input[type="submit"] {
    background-color: var(--colorPrimario);
    border: none;
    color: white;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: background-color .5s ease-in-out;
    flex: 1;
}
.campo input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--colorPrimarioOscuro);
}
@media (min-width:768px) {
    .campo input[type="submit"] {
        flex: 0 0 auto;
    }
}

/** Listado contactos **/
.contactos {
    padding: 2rem;
    margin-top: 3rem;
}
.contenedor-contactos {
    max-width: 800px;
    margin: 4rem auto 0 auto;
}
.total-contactos {
    margin: 2rem 0;
    text-align: center;
    color: var(--colorPrimario);
    font-size: 2rem;
    font-family: var(--fuenteSecundaria);
}
.total-contactos span {
    font-size: 3rem;
    font-weight: 900;
}
.buscador {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    margin: 2rem 0;
}
.contenedor-tabla {
    overflow: scroll;
}
table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}
.tabla-contactos thead {
    background-color: var(--colorPrimario);
    color: #ffffff;
    text-transform: uppercase;
}
.tabla-contactos thead th {
    padding: 1rem 0;
}
.tabla-contactos tbody td {
    padding: .5rem;
}
.tabla-contactos tbody td:nth-child(4) {
    text-align: center;
}
.tabla-contactos button {
    background-color: transparent!important;
    border: none;
}
.btn {
    font-size: 2rem;
    text-decoration: none;
}
.btn:hover {
    cursor: pointer;
}
.btn-editar {
    color: var(--colorSecundario);
}
.btn-borrar {
    color: var(--colorPrimario);
}
.volver {
    background-color: var(--colorSecundario);
    text-align: center;
    color: #000000;
    font-weight: 700;
    font-size: 1.2rem;
    padding: .5rem;
}

/** Notificaciones **/
.notificacion {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem 2rem;
    opacity: 0;
    transition: opacity .5s ease;
    border-radius: 10px;
}
.visible {
    opacity: 1;
}
.ok {
    background-color: rgb(179,241,117);
    color: green;
}
.ko {
    background-color: rgb(241, 167, 167);
    color: rgb(163, 4, 4);;
}
